<html>
    <head>
        <title>The Book of Faces</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
<!--         <div>
            TESTa;slkdfja;slkfjsa;lfjksf okay, cool. 
        </div> -->

        <!-- What is this stylesheet rel? It talks to the web browser, informing the imported thing is a spreadsheet. -->
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
